@import "../../Style/mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.product {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  &__title {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 46.8px */
    letter-spacing: 1.08px;
  }
  h4 {
    color: #000;

    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 91px */
    letter-spacing: 2.1px;
  }
  &__div {
    display: flex;
    gap: 230px;
    margin-top: 130px;
    @media (max-width: 1400px) {
      gap: 100px;
    }

    @media (max-width: 1270px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0;
    }
    
    &_right{
      width: 60%;
    }
  }
  &__price {
    @include flex(flex-start, center, 90px);
    margin-top: 140px;
    margin-bottom: 40px;
    h3{
      color: grey;
    }
    h2{
      color: rgba(255, 50, 161, 1);
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 412px;
    &_line{
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
      border-top: 2px dashed #C0C0C0;
    }
    &_description{
      color: #000;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 26px */
      letter-spacing: 0.6px;
      margin-bottom: 15px;
    }
    &_text{
      color: #000;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 26px */
      letter-spacing: 0.6px;
    }
  }
  img {
    max-height: 710px;
    max-width: 710px;
    object-fit: cover;
  }
}

.new_btn_add_to_cart {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 36.4px */
  border-radius: 10px;
  border: 2px solid #393;
  background: #393;
  cursor: pointer;
}
