.message{
    &__p{
        border-radius: 21px;
        border: 2px solid #393;
        background: #f1fff1;
        color: #393;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 5px;
        max-height: 50px;
        padding: 13px;
        text-align: center;
    }
}