@import "../../Style/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.line{
  height: 1px;
  width: 824px;
  background: #A7A7A7;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: 900px) {
    width: 600px;
  }
 @media (max-width: 700px) {
      width: 550px;
    }
  @media (max-width: 650px) {
      width: 350px;
    }
}
.shopping_cart_h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: 1.2px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 30px;

}
.back {

  @include flex(center, center, 17px);
  &__btn {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    background-color: transparent;
    border: none;
    cursor: pointer;

    &_img {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

.cart {
  @include flex(center, flex-start, 10px);
  @media (max-width: 1380px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__div{
    width: 824px;
    @media (max-width: 900px) {
      width: 600px;
    }
    @media (max-width: 700px) {
      width: 350px;
    }
    @media (max-width: 650px) {
      width: 350px;
    }
    &_img{
      width: 192px;
      height: 166px;
      border-radius: 10px;
    }
  }
  &__title{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    &_centr{
      display: flex;
      gap: 71px;
      flex-direction: column;
      margin-left: 5px;
      min-width: 300px;
    }
    &_h2{
      max-width: 318px;
      color: rgba(58, 58, 58, 1);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 23.4px */
      letter-spacing: 0.54px;
    }
   
  }

  &__order {
    padding: 25px;
    min-width: 496px;
    min-height: 393px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 2px solid #000;
    margin-bottom: 49px;
    @media (max-width: 600px) {
      min-width: 350px;
    }
    &_div {
      margin-top: 42px;
      margin-bottom: 49px;
      @include flex(center, flex-start, 225px);
      @media (max-width: 600px) {
        gap: 150px;
      }
    }
    h3 {
      color: #000;
      font-family: Montserrat;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 36.4px */
      letter-spacing: 0.84px;
    }
    p {
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 31.2px */
      letter-spacing: 0.72px;
    }
    h4 {
      color: #000;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 41.6px */
      letter-spacing: 0.96px;
    }
    // input {
    //   min-width: 446px;
    //   height: 73px;
    //   flex-shrink: 0;
    //   border-radius: 20px;
    //   border: 1px solid #000;
    //   background: #fff;
    //   color: #929292;
    //   font-family: Montserrat;
    //   font-size: 18px;
    //   font-style: normal;
    //   font-weight: 500;
    //   line-height: 130%; /* 23.4px */
    //   letter-spacing: 0.54px;
    //   padding-left: 25px;
    //   @media (max-width: 600px) {
    //     min-width: 320px;
    //   }
    // }
    // button {
    //   @media (max-width: 600px) {
    //     min-width: 320px;
    //     font-size: 18px;
    //     padding: 20px 110px 20px 143px;
    //   }
    //   border-radius: 17px;
    //   background: #393;
    //   min-width: 446px;
    //   padding: 20px 185px 20px 143px;
    //   align-items: flex-start;
    //   gap: 10px;
    //   color: #fff;
    //   text-align: center;
    //   font-family: Montserrat;
    //   font-size: 28px;
    //   font-style: normal;
    //   font-weight: 700;
    //   line-height: 130%; /* 36.4px */
    //   letter-spacing: 0.84px;
    //   border-color: transparent;
    //   margin-top: 25px;
    //   cursor: pointer;
    // }
  }
}
.price{
  display: flex;
  align-items: baseline;
  
  &__dolar{
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */
    letter-spacing: 1.2px;
  }
  &__p{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
  }

}
.action_prices{
  display:flex;
  align-items:center;
}
.action{
  display: flex;
  flex-direction: row-reverse;
  gap: 71px;
  align-items: center;
  &__price{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-left: 5px;
    &_div{
      display: flex;
      align-items: baseline;
    }
   
    &_h4{
      color: #8B8B8B;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 26px */
      letter-spacing: 0.6px;
      text-decoration: line-through;
    }

  }
}

.close {
  float: right;
  font-size: 30px;
  color: grey;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.quantity_inner {
  display: inline-flex;
  border-radius: 15px;
  border: 2px solid black;
  width: 170px;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 40px;
  width: 45px;
  padding: 0;
  border: 0;
  margin: 0;
  @include flex(center, center, 0);
  background: transparent;
  cursor: pointer;
}
.quantity_inner .quantity {
  width: 50px;
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.54px;
}
