@import "../../Style/mixins";


.discount {
    background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
    width: 100%;
    &__main {
      text-align: center;
      @include flex(none, center, 320px);
      @media (max-width: 1300px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        }
        &_button{
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding-bottom: 5px;
        }
        }
    &__img{
        margin-top:27px;
        width: 100%;
        }
   
      h1 {
        color: #fff;
        font-family: Montserrat;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 2.7px;
      }
      h2 {
        color: #fff;
        font-family: Montserrat;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.5px;
        @media (max-width: 600px) {
          font-size: 30px;
          }
      }
      input {
        max-width: 473px;
        height: 75.441px;
        flex-shrink: 0;
        border-radius: 25.147px;
        border: 2.395px solid #fff;
        background: #fff;
        color: #6c6c6c;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.54px;
        margin-top: 46px;
        margin-bottom: 30px;
        padding-left: 50px;
        @media (max-width: 500px) {
          max-width: 350px;
        }
      }
      button {
        max-width: 473px;
        height: 75.441px;
        flex-shrink: 0;
        border-radius: 25.147px;
        border: 2.395px solid #fff;
        background: transparent;
        color: #fff;
        font-family: Montserrat;
        font-size: 28.739px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.862px;
        cursor: pointer;
        @media (max-width: 500px) {
          max-width: 350px;
        }
      }
    }
    .flower{
      width:100%;
      margin-top:-50px;
    }
  